body {
    font-family: "Caladea";
    background: linear-gradient(#fbc7d4, #9796f0);
    background-attachment: fixed;
   }

   main {
    width: 60%;
    margin: auto;
    text-align: center;
   }
   .main {
    margin-bottom: 6vh;
   }
   h3 {
    font-size: 1.5em;
    margin-bottom: 0px;
   }

   input {
    display: block;
    width: 200px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid lightgrey;
    margin: 10px auto;
    padding: 0 4px;
    font-size: 1em;
    font-family: "Caladea";
   }

   button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #7574db;
    color: white;
    font-size: 1em;
    font-family: "Caladea";
   }

   button:hover {
    color: #7574db;
    background-color: white;
    box-shadow: 0 4px 20px black;
   }
   .red {
    color: red;
   }
   .green {
    color: green;
   }

